* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 100px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  border-radius: 6px;
  transition: filter 0.2s ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100vw;
  background-color: antiquewhite;
}

.title {
  display: flex;
  justify-content: start;
  font-size: 32px;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: center;
}

main {
  width: 50%;
  margin: auto;
  align-items: center;
}

.form div {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}

.library {
  display: flex;
  flex-wrap: wrap;
}

.book-div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  width: 200px;
  height: 400px;
}

.book-div button {
  margin: 10px;
}

div {
  padding: 10px;
}

.btn-light-green {
  background-color: #9fff9c;
}

.btn-light-red {
  background-color: #ff9c9c;
}
