header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100vw;
  background-color: antiquewhite;
}

.form div {
  display: flex;
  flex-direction: column;
}
